:root {
    --main-font-color: black;
}

* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
body {
    color: var(--main-font-color, black);
    font-size: 18px;
}

header {
    width: 100%;
}

nav, h2 {
    text-align: center;
    margin-bottom: 100px;
}

nav li {
    padding: 0.5% 5%;
    width: 20%;
    display: inline;
    font-weight: lighter;
    font-size: 25px;
    border: 1px solid var(--main-font-color, black);
}

nav li:hover {
    color: white;
    background-color: var(--main-font-color, black);
}

.hero-title {
    color: var(--main-font-color, black);
    font-size: 80px;
    text-align: center;
    margin: 5% 0;
}